*{
	margin:0px;
	padding: 0px;
}
nav{
	width:100%;
	height:90px;
	background: skyblue;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.wen{
	width:100%;
	height:200px;
	background: #CC0000;
}
ul{
	list-style: none;
}
/* 下面是logo区 */
.logo-baozh{
	width:300px;
	height:90px;
	margin-left: 13%;
	/* padding-top: 6px; */
}
.logo-baozh .logo-img{
	margin-top: 10px;
	margin-right: 20px;
	width:60px;
	height:60px;
	display: block;
	background: url(./1.jpg);
	background-size:100% ;
	border-radius: 50%;
	transition: all 2.0s;
}
.logo-mp h3{
	color: #FFFFFF;
	font-size: 35px;
}
.logo-mp p{
	color: #FFFFFF;
}
/* 这里是导航区 */
.dao{
	width: 30%;
	height: 70px;
}
.dao ul li{
	margin: 10px 20px;
}
.mipian{
	width: 200px;
	height: 70px;
}
.logo-baozh .logo-img:hover{
	transform: rotate(360deg);
}
/* 下面是网页主图 */
.content{
	width: 100%;
	height: 500px;
	background: #0000FF;
	position: relative;
	overflow: hidden;
}
		#box {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #FFC0CB;
			transform: translate(-50%,-50%);
			animation: bcolor 24s linear infinite;
		}
		#warp {
			position: relative;
			width: 300px;
			height: 300px;
			animation: brotate 60s linear infinite;
		}
		#box #warp:nth-child(1){
			top: 17%;
			left: 25%;
		}
		#box #warp:nth-child(2){
			top: -34%;
			left: 30%;
		}
		#box #warp:nth-child(3){
			top: -86%;
			left: 35%;
		}
		#warp div {
			width: 100%;
			height: 100%;
			position: absolute;
			box-sizing: border-box;
		}
		#warp div:nth-child(3){
			border: 2px solid skyblue;
		}
		
		#warp div:nth-child(1){
			width: 500%;
			top: -191%;
			left: -461%;
			transform: rotate(45deg);
			border-top: 2px solid skyblue;
		}
		#warp div:nth-child(2){
			width: 500%;
			top: -191%;
			left: 61%;
			transform: rotate(-45deg);
			border-top: 2px solid skyblue;
		}
		#warp div:nth-child(4){
			width: 500%;
			top: 261%;
			left: -9%;
			transform: rotate(45deg);
			border-top: 2px solid skyblue;
		}
		#warp div:nth-child(5){
			width: 500%;
			top: 261%;
			left: -391%;
			transform: rotate(-45deg);
			border-top: 2px solid skyblue;
		}
		@keyframes brotate{
			from{transform: rotate(0deg);}
			to{transform: rotate(360deg);}
		}
		@keyframes bcolor{
			0%,100% {background: darkcyan;}
			25% {background: slateblue;}
			50% {background: darkslateblue;}
			75% {background: darkred;}
		}